.title-left {
	float: left;
	width: 40%;
	margin-left: 1em;
}
.title-right {
	color: #D5FEFF;
	float: left;
	width: 5%;
	margin-left: .4em;
}



.spacing {
	width: 100%;
	text-align: left;
	font-size: 1.2rem;
	padding-bottom: 0.2em;
	font-family: Ariel, sans-serif;
}
.data-header {
	color: rgba(255, 255, 255, 0.75);
}
.data-underline {
	border-bottom: 1px solid white;
}
.on {
	color: #c2185b;
}
.off {
	color: grey;
}
.light-icon {
	width: 35px;
	padding-top: 10%;
}
.signal-spacing {
	width: 5px;
}
.container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.centered {
	display: flex;
	flex-direction: row;
}
.container-column {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}
.flex-start {
	justify-content: flex-start;
}
.item {
	font-family: Arial, sans-serif;
	color: #c2185b;
}
.data {
	margin-bottom: 5%;
}
.progress-data {
	width: 50%;
	color: rgba(255, 255, 255, 0.75);
}
.progress-bar {
	float: left;
	width: 50%;
	height: 25px;
	margin-right: 10px;
}





.circle-items {
	float: left;
	width: 19px;
	height: 19px;
}
.column {
	display: flex;
	flex-direction: column;
	width: auto;
}
.ifs {
	width: 10px;
}
.dataset {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 0.8rem;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.75);
}
.item {
	font-family: Arial, sans-serif;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.8rem;
	margin-left: 1.2em;
	margin-right: 1px;
	margin-bottom: 1em;
	white-space: nowrap;
}
.text-align-left {
	text-align: left;
}
.data {
	margin: 5px 20px 10px 20px;
	padding: 5px;
	background-color: transparent;
	border-bottom: 1px solid white;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.sub-container-grid {
	display: grid;
	column-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
}
.grid-span-row {
	grid-column: 1 / -1;
}

@media only screen
and (max-width: 768px){
	.sub-container-grid {
		grid-template-columns: repeat(1, 1fr);
		margin-left: 5px;
		margin-right: 5px;
	}
	.grid-container {
		grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	}
}
@media only screen
and (min-width: 769px)
and (max-width: 1100px){
	.grid-container {
		grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
	}
}