<div class="controls">
	<div class="header">
		<div class="title-left rounded">Driver Controls</div>
		<div class="title-right rounded">
    		<span *ngIf="controls.alive; else driverControlsNotAlive" class="driverControlsAlive">
    			<img class="circle" src="../../../assets/GreenCircle.png" alt="Green Circle" id="circle">
    		</span>
    		<ng-template #driverControlsNotAlive>
    				<img class="circle" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle">
			</ng-template>
		</div>
		<span class="title-right rounded">Alive</span>
	</div>
	<div class="container-column width">
		<div class="container-row grey">
			<span class="spacing dataHeader">Headlights</span>
			<span class="spacing dataHeader">Signal</span>
			<span class="spacing dataHeader">Hazard</span>
		</div>
		<div class="container-row black">
			<span class="spacing">
				<span class="off" [ngClass]="{'on' : controls.headlightsOff == true, 'off' : controls.headlightsOff == false}">Off </span>
				<div class="container-column">
					<span class="off" [ngClass]="{'on' : controls.headlightsLow == true, 'off' : controls.headlightsLow == false}">Low </span>
					<span *ngIf="lights.lowBeams; else lightsHeadlightsNotLow" class="lightsHeadlights">
						<img src="../../../assets/LowHeadlightOn.png" alt="Headlight on" class="headlightIcon">
					</span>

    				<ng-template #lightsHeadlightsNotLow>
    					<span><img src="../../../assets/LowHeadlightOff.png" alt="Headlight off" class="headlightIcon"></span>
    				</ng-template>
				</div>
				<div class="container-column">
					<span class="off" [ngClass]="{'on' : controls.headlightsHigh == true, 'off' : controls.headlightsHigh == false}">High</span>
					<span *ngIf="lights.highBeams; else lightsHeadlightsNotHigh" class="lightsHeadlights">
						<img src="../../../assets/HighHeadlightOn.png" alt="Headlight on" class="headlightIcon">
					</span>
	    			<ng-template #lightsHeadlightsNotHigh>
	    				<span><img src="../../../assets/HighHeadlightOff.png" alt="Headlight off" class="headlightIcon"></span>
	    			</ng-template>
	    		</div>
			</span>
			<span class="spacing">
				<div class="container-row-not-centered">
					<div class="container-column">
						<span class="off" [ngClass]="{'on' : controls.signalLeft == true, 'off' : controls.signalLeft == false}">Left </span>
						<span *ngIf="lights.leftSignal; else lightsSignalNotLeft">
							<img src="../../../assets/TurnSignalLeftOn.png" alt="Left signal on" class="headlightIcon">
						</span>
	    				<ng-template #lightsSignalNotLeft>
	    					<span><img src="../../../assets/TurnSignalLeftOff.png" alt="Left signal off" class="headlightIcon"></span>
	    				</ng-template>
	    			</div>
	    			<div class="signalSpacing"></div>
	    			<div class="container-column">
						<span class="off" [ngClass]="{'on' : controls.signalRight == true, 'off' : controls.signalRight == false}">Right</span>
						<span *ngIf="lights.rightSignal; else lightsSignalNotRight">
							<img src="../../../assets/TurnSignalRightOn.png" alt="Right signal on" class="headlightIcon">
						</span>
	    				<ng-template #lightsSignalNotRight>
	    					<span><img src="../../../assets/TurnSignalRightOff.png" alt="Right signal off" class="headlightIcon"></span>
	    				</ng-template>
	    			</div>
	    		</div>
			</span>
			<span class="spacing off" [ngClass]="{'on' : controls.hazard == true, 'off' : controls.hazard == false}">On</span>
		</div>
		<div class="container-row grey">
			<span class="spacing dataHeader">Interior</span>
			<span class="spacing dataHeader">Push To Talk</span>
			<span class="spacing dataHeader">Horn</span>
		</div>
		<div class="container-row black">
			<span class="spacing off" [ngClass]="{'on' : controls.interior == true, 'off' : controls.interior == false}">On</span>
			<span class="spacing off" [ngClass]="{'on' : controls.pushToTalk == true, 'off' : controls.pushToTalk == false}">On</span>
			<span class="spacing off" [ngClass]="{'on' : controls.horn == true, 'off' : controls.horn == false}">On</span>
		</div>
		<div class="container-row grey">
			<span class="spacing dataHeader">Aux</span>
			<span class="spacing dataHeader">Song</span>
			<span class="spacing dataHeader">Volume</span>
		</div>
		<div class="container-row black">
			<span class="spacing off" [ngClass]="{'on' : controls.aux == true, 'off' : controls.aux == false}">On</span>
			<span class="spacing">
				<span class="off" [ngClass]="{'on' : controls.prevSong == true, 'off' : controls.prevSong == false}">Prev. </span>
				<span class="off" [ngClass]="{'on' : controls.nextSong == true, 'off' : controls.nextSong == false}">Next</span>
			</span>
			<span class="spacing on">
				<span class="off" [ngClass]="{'on' : controls.volumeUp == true, 'off' : controls.volumeUp == false}">Up </span>
				<span class="off" [ngClass]="{'on' : controls.volumeDown == true, 'off' : controls.volumeDown == false}">Down</span>
			</span>
		</div>
		<div class="container-row grey">
			<span class="spacing dataHeader">Breaks</span>
			<span class="spacing dataHeader">Forward</span>
			<span class="spacing dataHeader">Reverse</span>
		</div>
		<div class="container-row black">
			<span class="spacing off" [ngClass]="{'on' : controls.brakes == true, 'off' : controls.brakes == false}">On</span>
			<span class="spacing off" [ngClass]="{'on' : controls.forward == true, 'off' : controls.forward == false}">On</span>
			<span class="spacing off" [ngClass]="{'on' : controls.reverse == true, 'off' : controls.reverse == false}">On</span>
		</div>
		<div class="container-row grey">
			<span class="spacing dataHeader">Acceleration</span>
			<span class="spacing dataHeader">Regen Braking</span>
			<span class="spacing dataHeader">Reset</span>
		</div>
		<div class="container-row black">
			<span class="spacing"><mat-progress-bar class="progressbar" [value]="controls.acceleration"></mat-progress-bar>
				<span class="item progressdata">{{controls.acceleration}} %</span>
			</span>
			<span class="spacing"><mat-progress-bar class="progressbar" [value]="controls.regenBraking"></mat-progress-bar>
				<span class="item progressdata">{{controls.regenBraking}} %</span>
			</span>
			<span class="spacing on" [ngClass]="{'on' : controls.reset == true, 'off' : controls.reset == false}">On</span>
		</div>
	</div>
</div>