.header {
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	background-color: grey;
	color: white;
	padding-bottom: 1.2em;
	padding-top: .2em;
	border-radius: 25px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.title-left {
	float: left;
	width: 50%;
	margin-left: 5%;
}
.title-right {
	color: #73a2ef;
	float: left;
	width: 5%;
	margin-left: 5px;
}
.circle {
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 2px;
}
.width {
	width: 100%;
}
.button {
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 20%;
}
.spacing {
	width: 100%;
	text-align: left;
	font-size: 1.2rem;
	padding-bottom: 0.2em;
	font-family: Ariel, sans-serif;
}
.dataHeader {
	color: rgba(255, 255, 255, 0.75);
}
.center-spacing {
	width: 70%;
	margin-left: 20%;
	text-align: center;
}
.centering {
	width: 60%;
	margin-left: 5%;
	margin-right: 5%; 
}
.reduce {
	width: 20%;
}
.grey {
	margin-bottom: 1px white;
}
.black {
	margin-bottom: 1px white;
}
.on {
	color: #c2185b;
}
.off {
	color: grey;
}
.headlightIcon {
	width: 35px;
}
.signalSpacing {
	width: 5px;
}
.subheader {
	font-family: Arial, sans-serif;
	font-size: 0.8rem;
	background-color: grey;
	color: white;
	padding-bottom: 0.2em;
	padding-top: .2em;
	border-radius: 25px;
	text-align: center;
}
.subheader > h3 {
	font-family: Arial, sans-serif;
	font-size: .8em;
	background-color: #7a7676;
	color: white;
	border-radius: 25px;
}
.subsubheader {
	font-family: Arial, sans-serif;
	font-size: 0.8rem;
	padding-bottom: 0.2em;
	padding-top: .2em;
	border-radius: 25px;
	text-align: center;
	color: white;
}
.container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.container-row-not-centered {
	display: flex;
	flex-direction: row;
}
.container-column {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}
.item {
	font-family: Arial, sans-serif;
	color: #c2185b;
}
.data {
	background-color: #7a7676;
	padding-right: 10%;
}
.progressdata {
	width: 50%;
	color: rgba(255, 255, 255, 0.75);
}
.progressbar {
	float: left;
	width: 50%;
	height: 25px;
	margin-right: 10px;
}
.leftside {
	float: left;
	width: 45%;
	margin-right: 5%;
}