<div class="controls">
	<div class="header">
		<span class="title-left rounded">Driver Controls</span>
		<span class="title-right rounded">Alive</span>
	</div>
	<div class="container-column center-spacing">
		<div class="container-row">
			<span class="spacing">Headlights</span>
			<span class="spacing">Signal</span>
			<span class="spacing">Hazard</span>
		</div>
		<div class="container-row">
			<span class="spacing">Low</span>
			<span class="spacing">Left  Right</span>
			<span class="spacing">On</span>
		</div>
		<div class="container-row">
			<span class="spacing">Interior</span>
			<span class="spacing">Push To Talk</span>
			<span class="spacing">Horn</span>
		</div>
		<div class="container-row">
			<span class="spacing">On</span>
			<span class="spacing">On</span>
			<span class="spacing">On</span>
		</div>
		<div class="container-row">
			<span class="spacing">Aux</span>
			<span class="spacing">Song</span>
			<span class="spacing">Volume</span>
		</div>
		<div class="container-row">
			<span class="spacing">On</span>
			<span class="spacing">Prev. Next</span>
			<span class="spacing">PlayPause Up Down</span>
		</div>
		<div class="container-row">
			<span class="spacing">Breaks</span>
			<span class="spacing">Forward</span>
			<span class="spacing">Reverse</span>
		</div>
		<div class="container-row">
			<span class="spacing">On</span>
			<span class="spacing">On</span>
			<span class="spacing">On</span>
		</div>
		<div class="container-row">
			<span class="spacing">Accerlation</span>
			<span class="spacing">Regen Braking</span>
			<span class="spacing">Reset</span>
		</div>
		<div class="container-row">
			<span class="spacing">_______</span>
			<span class="spacing">_______</span>
			<span class="spacing">On</span>
		</div>
	</div>
</div>