<ng-template #elseBlock><img class="circle-alive" src="../../../assets/RedCircle.png" alt="Red Circle"></ng-template>
	<div class="header">
		<span class="alive-group">
	    		<span *ngIf="controls.alive; else elseBlock"><img class="circle-alive" src="../../../assets/GreenCircle.png" alt="Green Circle"></span>
				Alive
		</span>
		<span class="alive-group">
	    		<span *ngIf="lights.alive; else elseBlock"><img class="circle-alive" src="../../../assets/GreenCircle.png" alt="Green Circle"></span>
				Alive
		</span>
	</div>
<div class="container-column width">
  <div class="container-row">
    <span class="spacing data-header">Headlights</span>
	<span class="spacing data-header">Signal</span>
	<span class="spacing data-header">Hazard</span>
  </div>
	<div class="container-row">
		<div class="container-row spacing">
			<span class="spacing">
		  		<span class="off data" [ngClass]="{'on' : controls.headlightsOff == true, 'off' : controls.headlightsOff == false}"><span class="data-underline">Off </span></span>
		  	</span>
		  	<span class="container-column flex-start spacing">
				<span class="off data" [ngClass]="{'on' : controls.headlightsLow == true, 'off' : controls.headlightsLow == false}"><span class="data-underline">Low </span></span>
				<span *ngIf="lights.lowBeams; else lightsHeadlightsNotLow" class="lightsHeadlights">
					<img src="../../../assets/LowHeadlightOn.png" alt="Headlight on" class="light-icon">
				</span>
    			<ng-template #lightsHeadlightsNotLow>
    				<span>
    					<img src="../../../assets/LowHeadlightOff.png" alt="Headlight off" class="light-icon">
    				</span>
    			</ng-template>
			</span>
			<span class="container-column flex-start spacing">
				<span class="off data" [ngClass]="{'on' : controls.headlightsHigh == true, 'off' : controls.headlightsHigh == false}"><span class="data-underline">High</span></span>
				<span *ngIf="lights.highBeams; else lightsHeadlightsNotHigh" class="lightsHeadlights">
						<img src="../../../assets/HighHeadlightOn.png" alt="Headlight on" class="light-icon">
					</span>
	    			<ng-template #lightsHeadlightsNotHigh>
	    				<span><img src="../../../assets/HighHeadlightOff.png" alt="Headlight off" class="light-icon"></span>
	    			</ng-template>
			</span>
		</div>
		<span class="spacing">
			<div class="centered">
				<span class="container-column flex-start">
					<span class="off data" [ngClass]="{'on' : controls.signalLeft == true, 'off' : controls.signalLeft == false}"><span class="data-underline">Left </span></span>
					<span *ngIf="lights.leftSignal; else lightsSignalNotLeft">
						<img src="../../../assets/TurnSignalLeftOn.png" alt="Left signal on" class="light-icon">
					</span>
    				<ng-template #lightsSignalNotLeft>
    					<span><img src="../../../assets/TurnSignalLeftOff.png" alt="Left signal off" class="light-icon"></span>
    				</ng-template>
				</span>
    			<div class="signal-spacing"></div>
    			<span class="container-column">
					<span class="off data" [ngClass]="{'on' : controls.signalRight == true, 'off' : controls.signalRight == false}"><span class="data-underline">Right</span></span>
					<span *ngIf="lights.rightSignal; else lightsSignalNotRight">
						<img src="../../../assets/TurnSignalRightOn.png" alt="Right signal on" class="light-icon">
					</span>
    				<ng-template #lightsSignalNotRight>
    					<span><img src="../../../assets/TurnSignalRightOff.png" alt="Right signal off" class="light-icon"></span>
    				</ng-template>
				</span>
    		</div>
		</span>
		<span class="spacing off" [ngClass]="{'on' : controls.hazard == true, 'off' : controls.hazard == false}"><span class="data-underline">On</span></span>
	</div>
	<div class="title-underline"></div>
	<div class="container-row">
		<span class="spacing data-header">Interior</span>
		<span class="spacing data-header">Push To Talk</span>
		<span class="spacing data-header">Horn</span>
	</div>
	<div class="container-row">
		<span class="spacing off data" [ngClass]="{'on' : controls.interior == true, 'off' : controls.interior == false}"><span class="data-underline">On</span></span>
		<span class="spacing off data" [ngClass]="{'on' : controls.pushToTalk == true, 'off' : controls.pushToTalk == false}"><span class="data-underline">On</span></span>
		<span class="spacing off data" [ngClass]="{'on' : controls.horn == true, 'off' : controls.horn == false}"><span class="data-underline">On</span></span>
	</div>
	<div class="container-row">
		<span class="spacing data-header">Aux</span>
		<span class="spacing data-header">Song</span>
		<span class="spacing data-header">Volume</span>
	</div>
	<div class="container-row black">
		<span class="spacing off data" [ngClass]="{'on' : controls.aux == true, 'off' : controls.aux == false}"><span class="data-underline">On</span></span>
		<span class="spacing">
			<span class="off data" [ngClass]="{'on' : controls.prevSong == true, 'off' : controls.prevSong == false}"><span class="data-underline">Prev. </span></span>
			<span class="off data" [ngClass]="{'on' : controls.nextSong == true, 'off' : controls.nextSong == false}"><span class="data-underline">Next</span></span>
		</span>
		<span class="spacing on">
			<span class="off data" [ngClass]="{'on' : controls.volumeUp == true, 'off' : controls.volumeUp == false}"><span class="data-underline">Up </span></span>
			<span class="off data" [ngClass]="{'on' : controls.volumeDown == true, 'off' : controls.volumeDown == false}"><span class="data-underline">Down</span></span>
		</span>
	</div>
	<div class="container-row">
		<span class="spacing data-header">Brakes</span>
		<span class="spacing data-header">Forward</span>
		<span class="spacing data-header">Reverse</span>
	</div>
	<div class="container-row">
		<span class="spacing off data" [ngClass]="{'on' : controls.brakes == true, 'off' : controls.brakes == false}"><span class="data-underline">On</span></span>
		<span class="spacing off data" [ngClass]="{'on' : controls.forward == true, 'off' : controls.forward == false}"><span class="data-underline">On</span></span>
		<span class="spacing off data" [ngClass]="{'on' : controls.reverse == true, 'off' : controls.reverse == false}"><span class="data-underline">On</span></span>
	</div>
	<div class="container-row">
		<span class="spacing data-header">Acceleration</span>
		<span class="spacing data-header">Regen Braking</span>
		<span class="spacing data-header">Reset</span>
	</div>
	<div class="container-row">
		<span class="spacing"><mat-progress-bar class="progress-bar" [value]="controls.acceleration"></mat-progress-bar>
			<span class="item progress-data">{{controls.acceleration}} %</span>
		</span>
		<span class="spacing"><mat-progress-bar class="progress-bar" [value]="controls.regenBraking"></mat-progress-bar>
			<span class="item progress-data">{{controls.regenBraking}} %</span>
		</span>
		<span class="spacing on" [ngClass]="{'on' : controls.reset == true, 'off' : controls.reset == false}">On</span>
	</div>
</div>