<html>
    <body>
      <form [formGroup]="findPacketsForm" (ngSubmit)="onPacketDownloadButton()" novalidate>
        <label class="white-text form-spacing" for="startTime">Start:</label>
        <input id="startTime" formControlName="startTime" type="datetime-local" required>
        <label class="white-text form-spacing" for="endTime">End:</label>
        <input id="endTime" formControlName="endTime" type="datetime-local" required>
        <button id="packetDownloadButton" class="form-spacing" type="submit" >Load Packet Data</button>
      </form>

      <ul class="white-text">
        <li>Timestamp <input type="checkbox" [(ngModel)]="showTimeStamp"></li>
        <li>Packet Title <input type="checkbox" [(ngModel)]="showPacketTitle"></li>
        <li>Aux Bms <input type="checkbox" [(ngModel)]="showAuxBms"></li>
        <li>Key Motor <input type="checkbox" [(ngModel)]="showKeyMotor"></li>
        <li>Motor Details <input type="checkbox" [(ngModel)]="showMotorDetails"></li>
        <li>Driver Controls <input type="checkbox" [(ngModel)]="showDriverControls"></li>
        <li>Motor Faults <input type="checkbox" [(ngModel)]="showMotorFaults"></li>
        <li>Battery Faults <input type="checkbox" [(ngModel)]="showBatteryFaults"></li>
        <li>Battery <input type="checkbox" [(ngModel)]="showBattery"></li>
        <li>Ccs <input type="checkbox" [(ngModel)]="showCcs"></li>
        <li>Mppt <input type="checkbox" [(ngModel)]="showMppt"></li>
        <li>Lights <input type="checkbox" [(ngModel)]="showLights"></li>
      </ul>

      <div class="pages">
        <button class="page-btn yasss-text" [disabled]="page < 2" (click)="previousPage()">←</button>
        <p class="white-text" style="margin: auto;">{{ page }}</p>
        <button class="page-btn yasss-text" (click)="nextPage()">→</button>
      </div>

      <div style="background-color: grey; overflow-x:auto; white-space: nowrap;">
        <table>
          <thead>
            <tr>
              <th *ngIf="showTimeStamp">Timestamp</th>
              <th *ngIf="showPacketTitle">Packet Title</th>
              <th *ngIf="showAuxBms">Aux Bms</th>
              <th *ngIf="showKeyMotor">Key Motor</th>
              <th *ngIf="showMotorDetails">Motor Details</th>
              <th *ngIf="showDriverControls">Driver Controls</th>
              <th *ngIf="showMotorFaults">Motor Faults</th>
              <th *ngIf="showBatteryFaults">Battery Faults </th>
              <th *ngIf="showBattery">Battery </th>
              <th *ngIf="showCcs">Ccs</th>
              <th *ngIf="showMppt">Mppt</th>
              <th *ngIf="showLights">Lights</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let packet of packets" class="small-font">
              <td class="white-text" *ngIf="showTimeStamp">
                {{getTime(packet.TimeStamp)}}
              </td>
              <td class="white-text" *ngIf="showPacketTitle">
                {{packet.PacketTitle}}
              </td>
              <td *ngIf="showAuxBms">
                  <li>AllowCharge: <span class="white-text">{{packet.AuxBms.AllowCharge}}</span></li>
                  <li>AllowDischarge: <span class="white-text">{{packet.AuxBms.AllowDischarge}}</span></li>
                  <li>AuxBmsAlive: <span class="white-text">{{packet.AuxBms.AuxBmsAlive}}</span></li>
                  <li>AuxVoltage: <span class="white-text">{{packet.AuxBms.AuxVoltage}}</span></li>
                  <li>ChargeContactorError: <span class="white-text">{{packet.AuxBms.ChargeContactorError}}</span></li>
                  <li>ChargeOpenButShouldBeClosed: <span class="white-text">{{packet.AuxBms.ChargeOpenButShouldBeClosed}}</span></li>
                  <li>ChargeShouldTrip: <span class="white-text">{{packet.AuxBms.ChargeShouldTrip}}</span></li>
                  <li>ChargeTripDueToHighCellVoltage: <span class="white-text">{{packet.AuxBms.ChargeTripDueToHighCellVoltage}}</span></li>
                  <li>ChargeTripDueToHighTemperatureAndCurrent: <span class="white-text">{{packet.AuxBms.ChargeTripDueToHighTemperatureAndCurrent}}</span></li>
                  <li>ChargeTripDueToPackCurrent: <span class="white-text">{{packet.AuxBms.ChargeTripDueToPackCurrent}}</span></li>
                  <li>CommonContactorError: <span class="white-text">{{packet.AuxBms.CommonContactorError}}</span></li>
                  <li>DischargeContactorError: <span class="white-text">{{packet.AuxBms.DischargeContactorError}}</span></li>
                  <li>DischargeOpenButShouldBeClosed: <span class="white-text">{{packet.AuxBms.DischargeOpenButShouldBeClosed}}</span></li>
                  <li>DischargeShouldTrip: <span class="white-text">{{packet.AuxBms.DischargeShouldTrip}}</span></li>
                  <li>DischargeTripDueToHighTemperatureAndCurrent: <span class="white-text">{{packet.AuxBms.DischargeTripDueToHighTemperatureAndCurrent}}</span></li>
                  <li>DischargeTripDueToLowCellVoltage: <span class="white-text">{{packet.AuxBms.DischargeTripDueToLowCellVoltage}}</span></li>
                  <li>DischargeTripDueToPackCurrent: <span class="white-text">{{packet.AuxBms.DischargeTripDueToPackCurrent}}</span></li>
                  <li>HighVoltageEnableState: <span class="white-text">{{packet.AuxBms.HighVoltageEnableState}}</span></li>
                  <li>OrionCANReceivedRecently: <span class="white-text">{{packet.AuxBms.OrionCANReceivedRecently}}</span></li>
                  <li>PrechargeState: <span class="white-text">{{packet.AuxBms.PrechargeState}}</span></li>
                  <li>ProtectionTrip: <span class="white-text">{{packet.AuxBms.ProtectionTrip}}</span></li>
                  <li>StrobeBmsLight: <span class="white-text">{{packet.AuxBms.StrobeBmsLight}}</span></li>
              </td>
              <td *ngIf="showKeyMotor">
                  <ul *ngFor="let keyMotor of packet.KeyMotor">
                    <li>Alive: <span class="white-text">{{keyMotor.Alive}}</span></li>
                    <li>SetCurrent: <span class="white-text">{{keyMotor.SetCurrent}}</span></li>
                    <li>SetVelocity: <span class="white-text">{{keyMotor.SetVelocity}}</span></li>
                    <li>BusCurrent: <span class="white-text">{{keyMotor.BusCurrent}}</span></li>
                    <li>BusVoltage: <span class="white-text">{{keyMotor.BusVoltage}}</span></li>
                    <li>VehicleVelocity: <span class="white-text">{{keyMotor.VehicleVelocity}}</span></li>
                  </ul>
              </td>
              <td *ngIf="showMotorDetails">
                  <ul *ngFor="let motorDetail of packet.MotorDetails">
                    <li>PhaseCCurrent: <span class="white-text">{{motorDetail.PhaseCCurrent}}</span></li>
                    <li>PhaseBCurrent: <span class="white-text">{{motorDetail.PhaseBCurrent}}</span></li>
                    <li>MotorVoltageReal: <span class="white-text">{{motorDetail.MotorVoltageReal}}</span></li>
                    <li>MotorVoltageImaginary: <span class="white-text">{{motorDetail.MotorVoltageImaginary}}</span></li>
                    <li>MotorCurrentReal: <span class="white-text">{{motorDetail.MotorCurrentReal}}</span></li>
                    <li>MotorCurrentImaginary: <span class="white-text">{{motorDetail.MotorCurrentImaginary}}</span></li>
                    <li>BackEmf: <span class="white-text">{{motorDetail.BackEmf}}</span></li>
                    <li>VoltageRail15VSupply: <span class="white-text">{{motorDetail.VoltageRail15VSupply}}</span></li>
                    <li>VoltageRail3VSupply: <span class="white-text">{{motorDetail.VoltageRail3VSupply}}</span></li>
                    <li>VoltageRail1VSupply: <span class="white-text">{{motorDetail.VoltageRail1VSupply}}</span></li>
                    <li>HeatSinkTemp: <span class="white-text">{{motorDetail.HeatSinkTemp}}</span></li>
                    <li>MotorTemp: <span class="white-text">{{motorDetail.MotorTemp}}</span></li>
                    <li>DspBoardTemp: <span class="white-text">{{motorDetail.DspBoardTemp}}</span></li>
                    <li>DcBusAmpHours: <span class="white-text">{{motorDetail.DcBusAmpHours}}</span></li>
                    <li>Odometer: <span class="white-text">{{motorDetail.Odometer}}</span></li>
                    <li>SlipSpeed: <span class="white-text">{{motorDetail.SlipSpeed}}</span></li>
                  </ul>
              </td>
              <td *ngIf="showDriverControls">
                <ul>
                  <li>Alive: <span class="white-text">{{packet.DriverControls.Alive}}</span></li>
                  <li>HeadlightsOff: <span class="white-text">{{packet.DriverControls.HeadlightsOff}}</span></li>
                  <li>HeadlightsLow: <span class="white-text">{{packet.DriverControls.HeadlightsLow}}</span></li>
                  <li>HeadlightsHigh: <span class="white-text">{{packet.DriverControls.HeadlightsHigh}}</span></li>
                  <li>SignalRight: <span class="white-text">{{packet.DriverControls.SignalRight}}</span></li>
                  <li>SignalLeft: <span class="white-text">{{packet.DriverControls.SignalLeft}}</span></li>
                  <li>Hazard: <span class="white-text">{{packet.DriverControls.Hazard}}</span></li>
                  <li>Interior: <span class="white-text">{{packet.DriverControls.Interior}}</span></li>
                  <li>Aux: <span class="white-text">{{packet.DriverControls.Aux}}</span></li>
                  <li>VolumeUp: <span class="white-text">{{packet.DriverControls.VolumeUp}}</span></li>
                  <li>VolumeDown: <span class="white-text">{{packet.DriverControls.VolumeDown}}</span></li>
                  <li>NextSong: <span class="white-text">{{packet.DriverControls.NextSong}}</span></li>
                  <li>PrevSong: <span class="white-text">{{packet.DriverControls.PrevSong}}</span></li>
                  <li>Acceleration: <span class="white-text">{{packet.DriverControls.Acceleration}}</span></li>
                  <li>RegenBraking: <span class="white-text">{{packet.DriverControls.RegenBraking}}</span></li>
                  <li>Brakes: <span class="white-text">{{packet.DriverControls.Brakes}}</span></li>
                  <li>Forward: <span class="white-text">{{packet.DriverControls.Forward}}</span></li>
                  <li>Reverse: <span class="white-text">{{packet.DriverControls.Reverse}}</span></li>
                  <li>PushToTalk: <span class="white-text">{{packet.DriverControls.PushToTalk}}</span></li>
                  <li>Horn: <span class="white-text">{{packet.DriverControls.Horn}}</span></li>
                  <li>Reset: <span class="white-text">{{packet.DriverControls.Reset}}</span></li>
                </ul>
              </td>
              <td *ngIf="showMotorFaults">
                <ul *ngFor="let motorFault of packet.MotorFaults">
                  <li>ErrorFlags:
                    <ul>
                      <li>MotorOverSpeed: <span class="white-text">{{motorFault.ErrorFlags.MotorOverSpeed}}</span></li>
                      <li>SoftwareOverCurrent: <span class="white-text">{{motorFault.ErrorFlags.SoftwareOverCurrent}}</span></li>
                      <li>DcBusOverVoltage: <span class="white-text">{{motorFault.ErrorFlags.DcBusOverVoltage}}</span></li>
                      <li>BadMotorPositionHallSequence: <span class="white-text">{{motorFault.ErrorFlags.BadMotorPositionHallSequence}}</span></li>
                      <li>WatchdogCausedLastReset: <span class="white-text">{{motorFault.ErrorFlags.WatchdogCausedLastReset}}</span></li>
                      <li>ConfigReadError: <span class="white-text">{{motorFault.ErrorFlags.ConfigReadError}}</span></li>
                      <li>Wail15VUnderVoltageLockOut: <span class="white-text">{{motorFault.ErrorFlags.Wail15VUnderVoltageLockOut}}</span></li>
                      <li>DesaturationFault: <span class="white-text">{{motorFault.ErrorFlags.DesaturationFault}}</span></li>
                    </ul>
                  </li>
                  <li>LimitFlags:
                    <ul>
                      <li>OutputVoltagePwm: <span class="white-text">{{motorFault.LimitFlags.OutputVoltagePwm}}</span></li>
                      <li>MotorCurrent: <span class="white-text">{{motorFault.LimitFlags.MotorCurrent}}</span></li>
                      <li>Velocity: <span class="white-text">{{motorFault.LimitFlags.Velocity}}</span></li>
                      <li>BusCurrent: <span class="white-text">{{motorFault.LimitFlags.BusCurrent}}</span></li>
                      <li>BusVoltageUpper: <span class="white-text">{{motorFault.LimitFlags.BusVoltageUpper}}</span></li>
                      <li>BusVoltageLower: <span class="white-text">{{motorFault.LimitFlags.BusVoltageLower}}</span></li>
                      <li>IpmOrMotorTemperature: <span class="white-text">{{motorFault.LimitFlags.IpmOrMotorTemperature}}</span></li>
                    </ul>
                  </li>
                  <li>RxErrorCount: <span class="white-text">{{motorFault.RxErrorCount}}</span></li>
                  <li>TxErrorCount: <span class="white-text">{{motorFault.TxErrorCount}}</span></li>
                </ul>
              </td>
              <td *ngIf="showBatteryFaults">
                <ul>
                  <li>ErrorFlags
                    <ul>
                      <li>InternalCommunicationFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.InternalCommunicationFault}}</span></li>
                      <li>InternalConversionFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.InternalConversionFault}}</span></li>
                      <li>WeakCellFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.WeakCellFault}}</span></li>
                      <li>LowCellVoltageFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.LowCellVoltageFault}}</span></li>
                      <li>OpenWiringFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.OpenWiringFault}}</span></li>
                      <li>CurrentSensorFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.CurrentSensorFault}}</span></li>
                      <li>PackVoltageSensorFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.PackVoltageSensorFault}}</span></li>
                      <li>WeakPackFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.WeakPackFault}}</span></li>
                      <li>VoltageRedundancyFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.VoltageRedundancyFault}}</span></li>
                      <li>FanMonitorFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.FanMonitorFault}}</span></li>
                      <li>ThermistorFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.ThermistorFault}}</span></li>
                      <li>CANBUSCommunicationFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.CANBUSCommunicationsFault}}</span></li>
                      <li>AlwaysOnSupplyFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.AlwaysOnSupplyFault}}</span></li>
                      <li>HighVoltageIsolationFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.HighVoltageIsolationFault}}</span></li>
                      <li>12vPowerSupplyFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags['12vPowerSupplyFault']}}</span></li>
                      <li>ChargeLimitEnforcementFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.ChargeLimitEnforcementFault}}</span></li>
                      <li>DischargeLimitEnforcementFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.DischargeLimitEnforcementFault}}</span></li>
                      <li>ChargerSafetyRelayFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.ChargerSafetyRelayFault}}</span></li>
                      <li>InternalMemoryFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.InternalMemoryFault}}</span></li>
                      <li>InternalThermistorsFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.InternalThermistorsFault}}</span></li>
                      <li>InternalLogicFault: <span class="white-text">{{packet.BatteryFaults.ErrorFlags.InternalLogicFault}}</span></li>
                    </ul>
                  </li>
                  <li>LimitFlags
                    <ul>
                      <li>DclReducedDueToLowSoc: <span class="white-text">{{packet.BatteryFaults.LimitFlags.DclReducedDueToLowSoc}}</span></li>
                      <li>DclReducedDueToHighCellResistance: <span class="white-text">{{packet.BatteryFaults.LimitFlags.DclReducedDueToHighCellResistance}}</span></li>
                      <li>DclReducedDueToTemperature: <span class="white-text">{{packet.BatteryFaults.LimitFlags.DclReducedDueToTemperature}}</span></li>
                      <li>DclReducedDueToLowCellVoltage: <span class="white-text">{{packet.BatteryFaults.LimitFlags.DclReducedDueToLowCellVoltage}}</span></li>
                      <li>DclReducedDueToLowPackVoltage: <span class="white-text">{{packet.BatteryFaults.LimitFlags.DclReducedDueToLowPackVoltage}}</span></li>
                      <li>DclAndCclReducedDueToVoltageFailsafe: <span class="white-text">{{packet.BatteryFaults.LimitFlags.DclandCclReducedDueToVoltageFailsafe}}</span></li>
                      <li>DclAndCclReducedDueToCommunicationFailsafe: <span class="white-text">{{packet.BatteryFaults.LimitFlags.DclandCclReducedDueToCommunicationFailsafe}}</span></li>
                      <li>CclReducedDueToHighSoc: <span class="white-text">{{packet.BatteryFaults.LimitFlags.CclReducedDueToHighSoc}}</span></li>
                      <li>CclReducedDueToHighCellResistance: <span class="white-text">{{packet.BatteryFaults.LimitFlags.CclReducedDueToHighCellResistance}}</span></li>
                      <li>CclReducedDueToTemperature: <span class="white-text">{{packet.BatteryFaults.LimitFlags.CclReducedDueToTemperature}}</span></li>
                      <li>CclReducedDueToHighCellVoltage: <span class="white-text">{{packet.BatteryFaults.LimitFlags.CclReducedDueToHighCellVoltage}}</span></li>
                      <li>CclReducedDueToHighPackVoltage: <span class="white-text">{{packet.BatteryFaults.LimitFlags.CclReducedDueToHighPackVoltage}}</span></li>
                      <li>CclReducedDueToChargerLatch: <span class="white-text">{{packet.BatteryFaults.LimitFlags.CclReducedDueToChargerLatch}}</span></li>
                      <li>CclReducedDueToAlternateCurrentLimit: <span class="white-text">{{packet.BatteryFaults.LimitFlags.CclReducedDueToAlternateCurrentLimit}}</span></li>
                    </ul>
                  </li>
                </ul>
              </td>
              <td *ngIf="showBattery">
                <ul>
                  <li>Alive: <span class="white-text">{{packet.Battery.Alive}}</span></li>
                  <li>BMSRelayStatusFlags:
                    <ul>
                      <li>DischargeRelayEnabled: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.DischargeRelayEnabled}}</span></li>
                      <li>ChargeRelayEnabled: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.ChargeRelayEnabled}}</span></li>
                      <li>ChargerSafetyEnabled: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.ChargerSafetyEnabled}}</span></li>
                      <li>MalfunctionIndicatorActive: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.MalfunctionIndicatorActive}}</span></li>
                      <li>MultiPurposeInputSignalStatus: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.MultiPurposeInputSignalStatus}}</span></li>
                      <li>AlwaysOnSignalStatus: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.AlwaysOnSignalStatus}}</span></li>
                      <li>IsReadySignalStatus: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.IsReadySignalStatus}}</span></li>
                      <li>IsChargingSignalStatus: <span class="white-text">{{packet.Battery.BMSRelayStatusFlags.IsChargingSignalStatus}}</span></li>
                    </ul>
                  </li>
                  <li>PopulatedCells: <span class="white-text">{{packet.Battery.PopulatedCells}}</span></li>
                  <li>12vInputVoltage: <span class="white-text">{{packet.Battery['12vInputVoltage']}}</span></li>
                  <li>FanVoltage: <span class="white-text">{{packet.Battery.FanVoltage}}</span></li>
                  <li>PackCurrent: <span class="white-text">{{packet.Battery.PackCurrent}}</span></li>
                  <li>PackVoltage: <span class="white-text">{{packet.Battery.PackVoltage}}</span></li>
                  <li>PackStateOfCharge: <span class="white-text">{{packet.Battery.PackStateOfCharge}}</span></li>
                  <li>PackAmphours: <span class="white-text">{{packet.Battery.PackAmphours}}</span></li>
                  <li>PackDepthOfDischarge: <span class="white-text">{{packet.Battery.PackDepthOfDischarge}}</span></li>
                  <li>HighTemperature: <span class="white-text">{{packet.Battery.HighTemperature}}</span></li>
                  <li>HighThermistorId: <span class="white-text">{{packet.Battery.HighThermistorId}}</span></li>
                  <li>LowTemperature: <span class="white-text">{{packet.Battery.LowTemperature}}</span></li>
                  <li>LowThermistorId: <span class="white-text">{{packet.Battery.LowThermistorId}}</span></li>
                  <li>AverageTemperature: <span class="white-text">{{packet.Battery.AverageTemperature}}</span></li>
                  <li>InternalTemperature: <span class="white-text">{{packet.Battery.InternalTemperature}}</span></li>
                  <li>FanSpeed: <span class="white-text">{{packet.Battery.FanSpeed}}</span></li>
                  <li>RequestedFanSpeed: <span class="white-text">{{packet.Battery.RequestedFanSpeed}}</span></li>
                  <li>LowCellVoltage: <span class="white-text">{{packet.Battery.LowCellVoltage}}</span></li>
                  <li>LowCellVoltageId: <span class="white-text">{{packet.Battery.LowCellVoltageId}}</span></li>
                  <li>HighCellVoltage: <span class="white-text">{{packet.Battery.HighCellVoltage}}</span></li>
                  <li>HighCellVoltageId: <span class="white-text">{{packet.Battery.HighCellVoltageId}}</span></li>
                  <li>AverageCellVoltage: <span class="white-text">{{packet.Battery.AverageCellVoltage}}</span></li>
                </ul>
              </td>
              <td *ngIf="showCcs">
                Ccs Alive: <span class="white-text">{{packet.Ccs.CcsAlive}}</span>
              </td>
              <td *ngIf="showMppt">
                <ul *ngFor="let mppt of packet.MPPT">
                  <li>Alive: <span class="white-text">{{mppt.Alive}}</span></li>
                  <li>ArrayVoltage: <span class="white-text">{{mppt.ArrayVoltage}}</span></li>
                  <li>ArrayCurrent: <span class="white-text">{{mppt.ArrayCurrent}}</span></li>
                  <li>BatteryVoltage: <span class="white-text">{{mppt.BatteryVoltage}}</span></li>
                  <li>Temperature: <span class="white-text">{{mppt.Temperature}}</span></li>
                </ul>
              </td>
              <td *ngIf="showLights">
                <ul>
                  <li>LowBeams: <span class="white-text">{{packet.Lights.LowBeams}}</span></li>
                  <li>HighBeams: <span class="white-text">{{packet.Lights.HighBeams}}</span></li>
                  <li>Brakes: <span class="white-text">{{packet.Lights.Brakes}}</span></li>
                  <li>LeftSignal: <span class="white-text">{{packet.Lights.LeftSignal}}</span></li>
                  <li>RightSignal: <span class="white-text">{{packet.Lights.RightSignal}}</span></li>
                  <li>BmsStrobeLight: <span class="white-text">{{packet.Lights.BmsStrobeLight}}</span></li>
                  <li>Alive: <span class="white-text">{{packet.Lights.Alive}}</span></li>
                </ul>
              </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="pages" *ngIf="packets != undefined && packets.length > 0">
        <button class="page-btn yasss-text" [disabled]="page < 2" (click)="previousPage()">←</button>
        <p class="white-text" style="margin: auto;">{{ page }}</p>
        <button class="page-btn yasss-text" (click)="nextPage()">→</button>
      </div>

    </body>
</html>
