body{
  font-family: sans-serif;
}
table,
th,
td {
  border: 1px solid white;
}
table {
  min-width: 100%;
}

input[type="checkbox"] {
  accent-color: #c2185b;
}

input[type="datetime-local"] {
  padding: 12px, 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: large;
  text-align: center;
}

.small-font {
  font-size: x-small;
}

.form-spacing {
  margin: 0 10px;
}

.white-text {
  color: white;
}

.yasss-text {
  color: #c2185b;
}

.pages {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 20%;
  margin: auto;
}

.page-btn {
  background-color: transparent;
  border: none;
  font-size: x-large;
}

.page-btn:disabled {
  color: grey;
}

.playback-checkboxes{
  width: 80%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  user-select: none;
}

.playback-checkboxes li{
  border-radius: 4px;
  padding:3px;
  margin:5px;
  margin-left:10px;
  display: inline-block;
  background-color: rgb(255,255,255,0.1);
}

.playback-checkboxes li:hover{
  background-color: rgb(255,255,255,0.3);
}

.submit-btn {
  margin: auto;
}

.date-label {
  color: white;
  margin: 0 10px;
  border-bottom: #c2185b;
  border-bottom-style: solid;
  font-size: large;
  background-color: rgb(255,255,255,0.1);
}

.center {
  display:flex;
  justify-content: center;
  align-items: center;
}