.dataset {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  color: rgb(255 255 255);
  color: rgb(255 255 255 / 75%);
}

.item {
  color: rgb(255 255 255 / 90%);
  font-size: 0.8rem;
  margin-right: 1px;
  margin-bottom: 1em;
  white-space: nowrap;
}

.wrap {
  word-wrap: break-word;
}

.text-align-left {
  text-align: left;
}

.data {
  margin: 5px 0 10px;
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.grid-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.predictors {
  margin-top: 3em;
}
