:host {
  display: flex;
  height: 98%;
  min-width: 260px;
  max-width: 20%;
  margin: 0.5%% auto;
}

.packet {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
}

.packet-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 6rem;
  height: auto;
  max-height: 100%;
}

.disconnected {
  color: red;
}

#solar-title {
  font-weight: bold;
  font-size: 22px;
}

@media screen
  and (min-width: 1200px)
  and (max-width: 1600px) {

    :host {
      height: 96%;
    }

    .packet {
      padding: 12px;
    }
}


@media screen
  and (max-width: 768px) {
    :host {
      display: none;
    }
}
  @media screen
  and (min-width: 768px) {
    :host {
      display: block;
    }
}