<mat-card class="packet">
  <div class="packet-header">
    <img class="logo" mat-card-lg-image src="../../assets/solar_car_logo.png">
    <mat-card-header>
      <mat-card-title id="solar-title">Calgary<br>Solar<br>Car<br>Team</mat-card-title>
    </mat-card-header>
  </div>
  <mat-form-field>
    <input matInput
      placeholder="Packet Timestamp"
      value="{{packet.timestamp | date: 'MMM d, y, h:mm:ss a'}}"
      readonly="true"
    >
  </mat-form-field>
  <span *ngIf="!heartBeat" class="disconnected">Car Disconnected</span>
</mat-card>
