:host {
  display: flex;
  height: 100% auto;
  min-width: 260px;
  max-width: 20%;
  margin: 0.5% auto;
}
.packet {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
}

.packet-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 6rem;
  height: auto;
  max-height: 100%;
}

.disconnected {
  color: red;
}

#solar-title {
  font-weight: bold;
  font-size: 22px;
}
  
.direction,
.warning {
  display: flex;
  justify-content: space-around;
}


.forward,
.reverse,
.brakes,
.hazard
 {
  display: flex;
  flex-direction: left;
  align-items: center;
  overflow: hidden;
  padding: 5px;
}


.progress-bars {
  display: flex;
  align-items: center;
}

.progress-bars p {
  margin: 0 3px;
}

.bus-current,
.battery-power,
.velocity-data{
	text-align: left;
  width: 100%;
}
.set-current,
.bus-voltage{
  width: 100%;
}
.mat-card{
  height: 100%;
}

@media screen
  and (min-width: 1200px)
  and (max-width: 1600px) {
  :host {
    height: auto;
  }

  .packet {
    padding: 12px;
  }
}

@media screen
  and (max-width: 768px) {
  :host {
    display: none;
  }
}

@media screen
  and (min-width: 768px) {
  app-timestamp {
    display: block;
  }
}
