/* Added on to from src/styles.css */
.aux-bms-faults {
  margin-bottom: 1em;
}

.subheader {
  margin-top: 1em;
  margin-bottom: 1em;
}

.faults-container-grid {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1em;
}

.fault-grid {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.error-count {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.on {
  color: #c2185b;
}

.off {
  color: grey;
}

.item {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

.data {
  padding: 5px;
  margin: 0 2px 1em 20px;
  text-align: center;
  color: rgb(255 255 255 / 90%);
}

.value {
  border-bottom: 1px solid white;
}

@media only screen
  and (max-width: 768px) {
  .faults-container-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 5px;
    margin-right: 5px;
  }
}
