<div class="faults">
	<div class="container-row">
		<div class="container column">
			<div class="subheader">Battery Faults</div>
			<div class="item">Cell Over Voltage</div>
			<div class="item">Cell Under Voltage</div>
			<div class="item">Cell Over Temp</div>
			<div class="item">Measurement Untrusted</div>
			<div class="item">CMU Comm Timeout</div>
			<div class="item">BMU Setup Mode</div>
			<div class="item">CMUCAN Bus Power Status</div>
			<div class="item">Pack Isolation Failure</div>
			<div class="item">Software Over Current</div>
			<div class="item">CAN 12V Supply Low</div>
			<div class="item">Contactor Stuck</div>
			<div class="item">CMU Detected Extra Cell</div>
		</div>
	</div>









</div>