@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 10px auto;
  background-image: url("assets/background.png");
  background-size: 100% 100%;
}
