@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
  width: 100%;
  min-height: 600px;
}

body {
  margin: 0 auto;
  background-image: url("assets/background.png");
  background-size: 100% 100%;
}

.inactive {
  color: rgba(255, 255, 255, 0.3)
}

.active {
  color: #f44336;
}
