@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
  width: 100%;
  min-height: 600px;
}

body {
  margin: 0 auto;
  background-image: url("assets/background.png");
  background-size: 100% 100%;
}

.inactive {
  color: rgb(255 255 255 / 30%);
}

.active {
  color: #f44336;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  background-color: transparent;
  color: #d5feff;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  width: auto;
}

.subheader {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background-color: #303030;
  color: rgb(255 255 255 / 75%);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-align: center;
  margin-bottom: 15px;
  width: auto;
  border: 1px solid #6b7f7f;
}

.circle {
  width: 1em;
  height: 1em;
}
