.mat-tab-link-active {
    background-color: #303030;
    color: #D5FEFF;
    border: 1px solid #6B7F7F;
    font-weight: bold;
}

.mat-tab-link {
    line-height: 30px !important;
    height: 50px !important;
    min-width: 20% !important;
    border: 1px solid #7e7e7e;
    color: white;
    font-size: 18px;
}

.mat-tab-nav-bar {
  background-color: #212121;
  width: 75%;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
}

