.packet {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.tabs {
  margin: 0 auto;
  display: inline-block;
  width: 60%;
}

.mat-tab-link-active {
    background-color: #303030;
    color: #D5FEFF;
    border: 1px solid #6B7F7F;
    font-weight: bold;
}

.mat-tab-link {
    line-height: 30px !important;
    height: 50px !important;
    min-width: 20% !important;
    border: 1px solid #7e7e7e;
    color: white;
    font-size: 18px;
}

.mat-tab-nav-bar {
  margin: 0 auto;
  background-color: #212121;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
}
