.alive-group {
	float:right;
	margin-right: 1em;
}
.title-left {
	margin-left: 1em;
}
.title-right {
	color: #D5FEFF;
	float: left;
	width: 5%;
	margin-left: .4em;
}
.left-side {
	float: left;
	width: 47.5%;
	margin-right: 2.5%;
}
.right-side {
	float: left;
	width: 47.5%;
	margin-left: 2.5%;
}

.clicker {
	float: left;
	width: 20%;
}

.button {
	float: left;
	width: 10px;
	margin-right: 20%;
}

.ifs {
	width: 10px;
	float: left;
}

.spacing {
	width: 40%;
	margin-left: 20%;
}

.centering {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%; 
}

.reduce {
	width: 20%;
}
.subheader > h3 {
	font-family: Arial, sans-serif;
	font-size: .8em;
	background-color: #7a7676;
	color: rgba(255, 255, 255, 0.75);
	border-radius: 25px;
}

.container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: .2em;
	margin-top: 0.1em;
}
.container-column {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}
.item {
	font-family: Arial, sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-size: 0.75em;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
}
.data {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	padding: 5px;
	white-space: nowrap;
	justify-content: center;
	text-align: center;
}

.underline {
	justify-content: center;
}

.leftside {
	float: left;
	width: 45%;
	margin-right: 5%;
}