<div class="motor">
	<div class="header">
		<span class="title-left rounded">Motor</span>
	</div>
	<div class="container-row">
		<div class="container-column centering">
			<div class="subheader">
				<span class="title-left">Key 0 Motor</span> 
				<span class="title-right">Alive</span>
			</div>
			<div class="container-row">
				<div class="item">Set Current
					<div class="data">00 A</div>
				</div>
				<div class="item">Set Velocity
					<div class="data"> 100 %</div>
				</div>
				<div class="item">Bus Current
					<div class="data"> 00 RPM</div>
				</div>
			</div>
			<div class="container-row">
				<div class="item">Bus Voltage
					<div class="data"> 00 A</div>
				</div>
				<div class="item">Vehicle Velocity
					<div class="data">00 V</div>
				</div>
			</div>
			<div class="subheader">
				<span class="title-left">Motor 0 Details</span>
			</div>
			<div class="container-row">
				<div class="container-column">
					<div class="item">Motor Voltage Real
						<div class="data">00 V</div>
					</div>
					<div class="item">Motor Current Real
						<div class="data">00 A</div>
					</div>
					<div class="item">Back EMF Real
						<div class="data">00 V</div>
					</div>
					<div class="item">Voltage Rail 3V Supply
						<div class="data">00 V</div>
					</div>
					<div class="item">Phase B Current
						<div class="data">00 A (rms)</div>
					</div>
					<div class="item">Heat Sink Temp.
						<div class="data">00ºC</div>
					</div>
					<div class="item">DSP Board Temp.
						<div class="data">00ºC</div>
					</div>
					<div class="item">Odometer
						<div class="data">00 M</div>
					</div>
				</div>
				<div class="container-column">
					<div class="item">Motor Voltage Imaginary
						<div class="data">00 V</div>
					</div>
					<div class="item">Motor Current Imaginary
						<div class="data">00 A</div>
					</div>
					<div class="item">Voltage Rail 15V Supply
						<div class="data">00V</div>
					</div>
					<div class="item">Voltage Rail 1V Suppy
						<div class="data">00V</div>
					</div>
					<div class="item">Phase C Current
						<div class="data">00 A(rms)</div>
					</div>
					<div class="item">Motor Temp.
						<div class="data">00ºC</div>
					</div>
					<div class="item">DC Bus Amp Hours
						<div class="data">oo Ah</div>
					</div>
					<div class="item">Slip Speed
						<div class="data">00 Hz</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-column centering">
			<div class="subheader">
				<span class="title-left">Key 1 Motor</span> 
				<span class="title-right">Alive</span>
			</div>
			<div class="container-row">
				<div class="item">Set Current
					<div class="data">00 A</div>
				</div>
				<div class="item">Set Velocity
					<div class="data"> 100 %</div>
				</div>
				<div class="item">Bus Current
					<div class="data"> 00 RPM</div>
				</div>
			</div>
			<div class="container-row">
				<div class="item">Bus Voltage
					<div class="data"> 00 A</div>
				</div>
				<div class="item">Vehicle Velocity
					<div class="data">00 V</div>
				</div>
			</div>
			<div class="subheader">
				<span class="title-left">Motor 1 Details</span>
			</div>
			<div class="container-row">
				<div class="container-column">
					<div class="item">Motor Voltage Real
						<div class="data">00 V</div>
					</div>
					<div class="item">Motor Current Real
						<div class="data">00 A</div>
					</div>
					<div class="item">Back EMF Real
						<div class="data">00 V</div>
					</div>
					<div class="item">Voltage Rail 3V Supply
						<div class="data">00 V</div>
					</div>
					<div class="item">Phase B Current
						<div class="data">00 A (rms)</div>
					</div>
					<div class="item">Heat Sink Temp.
						<div class="data">00ºC</div>
					</div>
					<div class="item">DSP Board Temp.
						<div class="data">00ºC</div>
					</div>
					<div class="item">Odometer
						<div class="data">00 M</div>
					</div>
				</div>
				<div class="container-column">
					<div class="item">Motor Voltage Imaginary
						<div class="data">00 V</div>
					</div>
					<div class="item">Motor Current Imaginary
						<div class="data">00 A</div>
					</div>
					<div class="item">Voltage Rail 15V Supply
						<div class="data">00V</div>
					</div>
					<div class="item">Voltage Rail 1V Suppy
						<div class="data">00V</div>
					</div>
					<div class="item">Phase C Current
						<div class="data">00 A(rms)</div>
					</div>
					<div class="item">Motor Temp.
						<div class="data">00ºC</div>
					</div>
					<div class="item">DC Bus Amp Hours
						<div class="data">oo Ah</div>
					</div>
					<div class="item">Slip Speed
						<div class="data">00 Hz</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>