<div class="mat-elevation-z8 container">
  <table mat-table #table [dataSource]="lapData">

    <ng-container matColumnDef="lapNumber">
      <th mat-header-cell *matHeaderCellDef matTooltip = "Info here yuhh" matTooltipClass = "infoHover" [formControl] = "position"> Data Point</th>
      <td mat-cell *matCellDef="let lap" id="lapnumber"> {{lap.lapNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="lapTime">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let lap"> {{lap.lapTime}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPowerIn">
      <th mat-header-cell *matHeaderCellDef> Power In </th>
      <td mat-cell *matCellDef="let lap"> {{lap.totalPowerIn}} W</td>
    </ng-container>

    <ng-container matColumnDef="totalPowerOut">
      <th mat-header-cell *matHeaderCellDef> Power Out </th>
      <td mat-cell *matCellDef="let lap"> {{lap.totalPowerOut}} W</td>
    </ng-container>

    <ng-container matColumnDef="netPowerOut">
      <th mat-header-cell *matHeaderCellDef> Net Power Out </th>
      <td mat-cell *matCellDef="let lap"> {{lap.netPowerOut}} W</td>
    </ng-container>

    <ng-container matColumnDef="averageSpeed">
      <th mat-header-cell *matHeaderCellDef> Avg Speed </th>
      <td mat-cell *matCellDef="let lap"> {{lap.averageSpeed}} km</td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef> Dist </th>
      <td mat-cell *matCellDef="let lap"> {{lap.distance}} km</td>
    </ng-container>

    <ng-container matColumnDef="amphours">
      <th mat-header-cell *matHeaderCellDef> Amphours </th>
      <td mat-cell *matCellDef="let lap"> {{lap.amphours}} Ah</td>
    </ng-container>

    <ng-container matColumnDef="averagePackCurrent">
      <th mat-header-cell *matHeaderCellDef> Avg Pack Current </th>
      <td mat-cell *matCellDef="let lap"> {{lap.averagePackCurrent}} A</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>