<div class="mat-elevation-z8 container">
  <table mat-table #table [dataSource]="lapData">

    <ng-container matColumnDef="lapNumber" class="flex">
      <th mat-header-cell *matHeaderCellDef> Lap Number </th>
      <td mat-cell *matCellDef="let lap"> {{lap.lapNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="lapTime" class="flex">
      <th mat-header-cell *matHeaderCellDef> Lap Time </th>
      <td mat-cell *matCellDef="let lap"> {{lap.lapTime}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPowerIn" class="flex">
      <th mat-header-cell *matHeaderCellDef> Total Power In </th>
      <td mat-cell *matCellDef="let lap"> {{lap.totalPowerIn}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPowerOut" class="flex">
      <th mat-header-cell *matHeaderCellDef> Total Power Out </th>
      <td mat-cell *matCellDef="let lap"> {{lap.totalPowerOut}} </td>
    </ng-container>

    <ng-container matColumnDef="netPowerOut" class="flex">
      <th mat-header-cell *matHeaderCellDef> Net Power Out </th>
      <td mat-cell *matCellDef="let lap"> {{lap.netPowerOut}} </td>
    </ng-container>

    <ng-container matColumnDef="distance" class="flex">
      <th mat-header-cell *matHeaderCellDef> Distance </th>
      <td mat-cell *matCellDef="let lap"> {{lap.distance}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>