.container {
  height: 400px;
  overflow: auto;
  background-color: rgb(66, 66, 66);
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;

}
.mat-row:nth-child(even){
  background-color: rgb(66, 66, 66);
}

.mat-row:nth-child(odd){
      background-color: rgb(102, 99, 99);
      }
table {
  width: 100%;
}


th {
	display: inline-flex;
	justify-content: space-between;
	margin-left: 1em;
	margin-right: 1em;
}
td {
	display: inline-flex;
	justify-content: space-between;
	margin-left: 1em;
	margin-right: 1em;
}
ng-container {
	display: flex;
	justify-content: space-between;
}