/* Right Panel */
:host {
  display: flex;
  height: 100%;
  width: 30%;
}

/* Car Miscellaneous */
.car-misc,
.battery-misc {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #212121;
  margin: 0 2px;
}

.direction,
.warning {
  display: flex;
  justify-content: space-around;
}

.forward,
.backward,
.brakes,
.hazard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#back-arrow-2,
#forward-arrow-2
{
  margin-left: -12px;
}

.spinners {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#overlay-0 {
  position: absolute;
  z-index: 0;
}

#overlay-1 {
  position: absolute;
  z-index: 1;
}

#overlay-2 {
  position: absolute;
  z-index: 2;
}

.precharge-state-dots {
  display: flex;
}

.velocity-data {
  align-self: center;
  text-align: center;
}

.velocity-data p {
  margin: 0 auto;
}

#bms-strobe-label {
  align-self: center;
}
