<!-- Car Right Panel -->
<mat-card class="car-misc">
  <div class="direction">
    <div class="reverse" [ngClass]="{'active': carMisc.directionReverse, 'inactive': !carMisc.directionReverse}">
      <span>
        <mat-icon id="back-arrow-1">arrow_back_ios</mat-icon>
        <mat-icon id="back-arrow-2">arrow_back_ios</mat-icon>
      </span>
      <label>Reverse</label>
    </div>
    <div class="forward" [ngClass]="{'active': carMisc.directionForward, 'inactive': !carMisc.directionForward}">
      <span>
        <mat-icon id="forward-arrow-1">arrow_forward_ios</mat-icon>
        <mat-icon id="forward-arrow-2">arrow_forward_ios</mat-icon>
      </span>
      <label>Forward</label>
    </div>
  </div>
  <div class="warning">
    <div class="brakes" [ngClass]="{'active': carMisc.brakes, 'inactive': !carMisc.brakes}">
      <mat-icon id="brakes-icon">error_outline</mat-icon>
      <label>Brakes</label>
    </div>
    <div class="hazard" [ngClass]="{'active': carMisc.hazard, 'inactive': !carMisc.hazard}">
      <mat-icon id="hazard-icon">warning</mat-icon>
      <label>Hazard</label>
    </div>
  </div>
  <div class="braking">
    <label class="main-label">Regen Braking</label>
    <div class="progress-bars">
      <mat-progress-bar mode="determinate" value="{{carMisc.regenBraking}}">
      </mat-progress-bar>
      <p>{{carMisc.regenBraking}}%</p>
    </div>
  </div>
  <div class="acceleration">
    <label class="main-label">Acceleration</label>
    <div class="progress-bars">
      <mat-progress-bar mode="determinate" value="{{carMisc.acceleration}}">
      </mat-progress-bar>
      <p>{{carMisc.acceleration}}%</p>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <mat-form-field>
    <input matInput
      placeholder="Set Current"
      value="{{carMisc.setCurrent}} A"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Bus Current"
      value="{{carMisc.busCurrent}} A"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Bus Voltage"
      value="{{carMisc.busVoltage}} V"
      readonly="true"
    >
  </mat-form-field>
  <div class="spinners">
    <mat-progress-spinner
      id="overlay-0"
      color="accent"
      value="100"
      diameter="200"
    >
    </mat-progress-spinner>
    <mat-progress-spinner
      id="overlay-1"
      value="{{carMisc.getSetVelocityPercentage()}}"
      diameter="200"
    >
    </mat-progress-spinner>
    <mat-progress-spinner
      id="overlay-2"
      color="warn"
      value="{{carMisc.getVehicleVelocityPercentage()}}"
      diameter="200"
    >
    </mat-progress-spinner>
    <div class="velocity-data">
      <label>Set velocity</label>
      <p><span class="velocity-number">{{carMisc.setVelocity}}</span>km/h</p>
      <label>Vehicle Velocity</label>
      <p><span class="velocity-number">{{carMisc.vehicleVelocity}}</span>km/h</p>
    </div>
  </div>
  <mat-form-field>
    <input matInput
      placeholder="Total Array Power"
      value="{{carMisc.totalArrayPower}} W"
      readonly="true"
    >
  </mat-form-field>
  <label id="bms-strobe-label"
         [ngClass]="{'active': carMisc.bmsStrobeLight, 'inactive': !carMisc.bmsStrobeLight}"
  >
  BMS Strobe Light
  </label>
</mat-card>

<!-- Battery Right Panel -->
<mat-card class="battery-misc">
  <mat-form-field>
    <input matInput
      placeholder="Total Pack Capacity"
      value="{{batteryMisc.totalPackCapacity}} Ah"
      readonly="true"
    >
  </mat-form-field>
  <div class="spinners">
    <mat-progress-spinner
      id="overlay-0"
      color="accent"
      value="100"
      diameter="200"
    >
    </mat-progress-spinner>
    <mat-progress-spinner
      id="overlay-2"
      color="warn"
      value="{{batteryMisc.packStateOfCharge}}"
      diameter="200"
    >
    </mat-progress-spinner>
    <div class="soc-data">
      <label>Pack SOC</label>
      <p id="pack-soc">{{batteryMisc.packStateOfCharge}}%</p>
    </div>
  </div>
  <mat-form-field>
    <input matInput
      placeholder="Pack SOC Hours"
      value="{{batteryMisc.packStateOfChargeHrs}} Ah"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Highest Cell Temperature"
      value="{{batteryMisc.highestCellTemp}} °C"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Lowest Cell Voltage"
      value="{{batteryMisc.lowestCellVoltage}} mV"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Pack Current"
      value="{{batteryMisc.packCurrent}} mA"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Pack Voltage"
      value="{{batteryMisc.packVoltage}} mV"
      readonly="true"
    >
  </mat-form-field>
  <div class="precharge-state">
    <label>Precharge State</label>
    <div class="precharge-state-dots">
      <mat-icon class="inactive">lens</mat-icon>
      <mat-icon class="inactive">lens</mat-icon>
      <mat-icon class="inactive">lens</mat-icon>
      <p>{{batteryMisc.prechargeState}}</p>
    </div>
  </div>
</mat-card>
