:host {
  display: flex;
  height: 110%;
  width: 25%;
  margin: 0.5%;
  justify-content: space-around;
}

.progress-bars {
  display: flex;
  align-items: center;
}

.progress-bars p {
  margin: 0 3px;
}

.spinners {
  align-self: center;
  position: relative !important;
  justify-content: center;
  margin: auto 0;
  display: flex;
  height: 33%;
  width: 86%;
}

.mat-progress-spinner {
  position:  relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-self: center;
  width: 100% !important;
  height: 100% !important;
}

.mat-progress-spinner ::ng-deep svg {
  align-self: center;
  width: 100% !important;
  height: fit-content !important;
}

#overlay-0 {
  position: absolute;
  z-index: 0;
}

#overlay-1 {
  position: absolute;
  z-index: 1;
}

#overlay-2 {
  position: absolute;
  z-index: 2;
}

.precharge-state-dots {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.precharge-state-dots mat-icon {
  font-size: 14px;
  height: 14px;
  width: 14px;
}

.precharge-state-dots p {
  margin: 0 4px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

mat-divider {
  margin: 5px 0;
}

.set-current {
  margin-top: 5px;
}

.soc-data {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  position:  relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.soc-data p {
  margin: 0;
}

#pack-soc {
  font-size: 35px;
  color: #f44336;
}

@media screen
  and (min-width: 1200px)
  and (max-width: 1600px) {

  :host {
    height: 120%;
  }

  .battery-misc {
    padding: 12px;
    font-size: 14px;
  }

  .soc-data p {
    font-size: 12px;
  }

  label {
    font-size: 14px;
  }
}

#bms-strobe-label {
  text-align: left;
  display: block;
}

@media screen
  and (max-width: 768px) {
    :host {
      display: none;
    }
  }
 
  .mat-card{
    height: 102%;
  }