<!-- Car Right Panel -->
<mat-card class="car-misc">
  <div class="direction">
    <div class="reverse" [ngClass]="{'active': controls.reverse, 'inactive': !controls.reverse}">
      <span>
        <mat-icon id="back-arrow-1">arrow_back_ios</mat-icon>
        <mat-icon id="back-arrow-2">arrow_back_ios</mat-icon>
      </span>
      <label>Reverse</label>
    </div>
    <div class="forward" [ngClass]="{'active': controls.forward, 'inactive': !controls.forward}">
      <span>
        <mat-icon id="forward-arrow-1">arrow_forward_ios</mat-icon>
        <mat-icon id="forward-arrow-2">arrow_forward_ios</mat-icon>
      </span>
      <label>Forward</label>
    </div>
  </div>
  <div class="warning">
    <div class="brakes" [ngClass]="{'active': controls.brakes, 'inactive': !controls.brakes}">
      <mat-icon id="brakes-icon">error_outline</mat-icon>
      <label>Brakes</label>
    </div>
    <div class="hazard" [ngClass]="{'active': controls.hazard, 'inactive': !controls.hazard}">
      <mat-icon id="hazard-icon">warning</mat-icon>
      <label>Hazard</label>
    </div>
  </div>
  <div class="braking">
    <label class="main-label">Regen Braking</label>
    <div class="progress-bars">
      <mat-progress-bar mode="determinate" value="{{controls.regenBraking}}">
      </mat-progress-bar>
      <p>{{controls.regenBraking}}%</p>
    </div>
  </div>
  <div class="acceleration">
    <label class="main-label">Acceleration</label>
    <div class="progress-bars">
      <mat-progress-bar mode="determinate" value="{{controls.acceleration}}">
      </mat-progress-bar>
      <p>{{controls.acceleration}}%</p>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <mat-form-field class="set-current">
    <input matInput
      placeholder="Set Current"
      value="{{getAvgSetCurrent() | number: '1.2-2'}} A"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Bus Current"
      value="{{getAvgBusCurrent() | number: '1.2-2'}} A"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Bus Voltage"
      value="{{getAvgBusVoltage() | number: '1.2-2'}} A"
      readonly="true"
    >
  </mat-form-field>
  <div class="spinners">
    <mat-progress-spinner
      id="overlay-0"
      color="accent"
      value="100"
      diameter="180"
      strokeWidth="10"
    >
    </mat-progress-spinner>
    <mat-progress-spinner
      id="overlay-1"
      value="{{getSetVelocityPercentage()}}"
      diameter="180"
      strokeWidth="10"
    >
    </mat-progress-spinner>
    <mat-progress-spinner
      id="overlay-2"
      color="warn"
      value="{{getVehicleVelocityPercentage()}}"
      diameter="180"
      strokeWidth="10"
    >
    </mat-progress-spinner>
    <div class="velocity-data">
      <label>Set velocity</label>
      <p id="set-velocity">
        <span class="velocity-number">
          {{getSetVelocity() | number: '1.2-2'}}
        </span>
        km/h
      </p>
      <label>Vehicle Velocity</label>
      <p id="vehicle-velocity">
        <span class="velocity-number">
          {{getVehicleVelocity() | number: '1.2-2'}}
        </span>
        km/h
      </p>
    </div>
  </div>
  <mat-form-field>
    <input matInput
      placeholder="Total Array Power"
      value="{{getTotalArrayPower() | number: '1.2-2'}} W"
      readonly="true"
    >
  </mat-form-field>
  <label id="bms-strobe-label"
         [ngClass]="{'active': lights.bmsStrobeLight, 'inactive': !lights.bmsStrobeLight}"
  >
  BMS Strobe Light
  </label>
</mat-card>

<!-- Battery Right Panel -->
<mat-card class="battery-misc">
  <mat-form-field>
    <input matInput
      placeholder="Total Pack Capacity"
      value="{{getTotalPackCapacityKWh() | number: '1.2-2'}} kWh"
      readonly="true"
    >
  </mat-form-field>
  <div class="spinners">
    <mat-progress-spinner
      id="overlay-0"
      color="accent"
      value="100"
      diameter="180"
      strokeWidth="10"
    >
    </mat-progress-spinner>
    <mat-progress-spinner
      id="overlay-2"
      color="warn"
      value="{{battery.packStateOfCharge}}"
      diameter="180"
      strokeWidth="10"
    >
    </mat-progress-spinner>
    <div class="soc-data">
      <label>Pack SOC</label>
      <p id="pack-soc">{{battery.packStateOfCharge}}%</p>
    </div>
  </div>
  <mat-form-field>
    <input matInput
      placeholder="Pack kWh"
      value="{{getPackKWh() | number: '1.2-2'}} kWh"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Highest Cell Temperature"
      value="{{battery.highTemperature | number: '1.2-2'}} °C"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Lowest Cell Voltage"
      value="{{battery.lowCellVoltage | number: '1.2-2'}} mV"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Pack Current"
      value="{{battery.packCurrent | number: '1.2-2'}} mA"
      readonly="true"
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Pack Voltage"
      value="{{battery.packVoltage | number: '1.2-2'}} mV"
      readonly="true"
    >
  </mat-form-field>
  <div class="precharge-state">
    <label>Precharge State</label>
    <div class="precharge-state-dots">
      <mat-icon
        class="inactive"
        [ngClass]="{'active': auxBms.prechargeState != state?.Off}"
      >
        lens
      </mat-icon>
      <mat-icon
        class="inactive"
        [ngClass]="{'active': auxBms.prechargeState == state?.DISCHARGE_ENGAGED ||
        auxBms.prechargeState == state?.ALL_ENGAGED}"
      >
        lens
      </mat-icon>
      <mat-icon
        class="inactive"
        [ngClass]="{'active': auxBms.prechargeState == state?.CHARGE_ENGAGED ||
        auxBms.prechargeState == state?.ALL_ENGAGED}"
      >
        lens
      </mat-icon>
      <p>{{auxBms.prechargeState}}</p>
    </div>
  </div>
</mat-card>
