<div class="battery">
	<div class="header">
		<span class="aliveGroup">
	    		<div *ngIf="battery.batteryAlive; else elseBlock"><img class="circleAlive" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></div>
	    		<ng-template #elseBlock><img class="circleAlive" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
				<span class="aliveText">Alive</span>
		</span>
	</div>
	<div class="container-row full">
		<div class="leftside">
				<div class ="subheader">
				<h3>BMS Relay Status Flags</h3>
					<div class="container-row">
						<div class="container-column">
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.dischargeRelayEnabled; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Discharge Relay Enabled</span>
							</span>
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.chargeRelayEnabled; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Charge Relay Enabled</span>
							</span>
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.chargerSafetyEnabled; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Charger Safety Enabled</span>
							</span>
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.malfunctionIndicatorActive; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Malfunction Indicator Active</span>
							</span>
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.multipurposeInputSignalStatus; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Multipurpose Input Signal Status</span>
							</span>
						</div>
						<div class="container-column">
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.isReady; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Is Ready</span>
							</span>
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.isCharging; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Is Charging</span>
							</span>
							<span class="itemLeft">
    								<span *ngIf="battery.bmsRelayStatusFlags.alwaysOnSignalStatus; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Always On</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="leftside">
				<div class ="dataset">
					<div class="subheader">Pack</div>
					<div class="container-column">
						<div class="container-row">
							<div class="item">Pack Current
								<div class="data">{{battery.packCurrent}} A</div>
							</div>
							<div class="item">Pack Voltage
								<div class="data">{{battery.packVoltage}} V</div>
							</div>
							<div class="item">Pack Amphours
								<div class="data">{{battery.packAmphours}} Ah</div>
							</div>
						</div>
						<div class="container-row">
							<div class="item">Pack State of Charge
								<div class="data">{{battery.packStateOfCharge}}</div>
							</div>
							<div class="item">Pack Depth of Discharge
								<div class="data">{{battery.packDepthOfDischarge}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-row full">
			<div class="leftside">
				<div class ="dataset">
					<div class="subheader">Temperature</div>
					<div class="container-row">
						<div class="container-column">
							<div class="item">High Temperature
								<div class="data">{{battery.highTemperature}} ºC</div>
							</div>
							<div class="item">Low Temperature
								<div class="data">{{battery.lowTemperature}} ºC</div>
							</div>
							<div class="item">Average Temperature
								<div class="data">{{battery.averageTemperature}} ºC</div>
							</div>
						</div>
						<div class="container-column">
							<div class="item">High Thermistor ID
								<div class="data">{{battery.highThermistorId}} ºC</div>
							</div>
							<div class="item">Low Thermistor ID
								<div class="data">{{battery.lowThermistorId}} ºC</div>
							</div>
							<div class="item">Internal Temperature
								<div class="data">{{battery.internalTemperature}} ºC</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="leftside">
				<div class ="dataset">
					<div class="subheader">Cell</div>
					<div class="container-row">
						<div class="container-column">
							<div class="item">Average Cell Voltage
								<div class="data">{{battery.averageCellVoltage}} V</div>
							</div>
							<div class="item">Low Cell Voltage
								<div class="data">{{battery.lowCellVoltage}} V</div>
							</div>
							<div class="item">High Cell Voltage
								<div class="data">{{battery.highCellVoltage}} V</div>
							</div>
						</div>
						<div class="container-column">
							<div class="item">Populated Cells
								<div class="data">{{battery.populatedCells}}</div>
							</div>
							<div class="item">Low Cell Voltage ID
								<div class="data">{{battery.lowCellVoltageId}}</div>
							</div>
							<div class="item">High Cell Voltage ID
								<div class="data">{{battery.highCellVoltageId}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-row full">
			<div class="leftside">
				<div class ="dataset">
					<div class="subheader">Fan</div>
					<div class="container-column">
						<div class="container-row">
							<div class="item">Fan Voltage
								<div class="data">{{battery.fanVoltage}} V</div>
							</div>
							<div class="item">Fan Speed
								<div class="data">{{battery.fanSpeed}}</div>
							</div>
							<div class="item">Requested Fan Speed
								<div class="data">{{battery.requestedFanSpeed}}</div>
							</div>]
						</div>
						<div class="item">Precharge State
							<div class="data">{{auxBms.prechargeState}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="leftside">
				<div class ="dataset">
					<div class="subheader">Aux BMS</div>
					<div class="container-row">
						<div class="container-column">
							<span class="item">
    								<span *ngIf="auxBms.strobeBmsLight; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Strobe BMS</span>
							</span>
							<span class="item">
    								<span *ngIf="auxBms.contactorError; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Contactor Error</span>
							</span>
							<span class="item">
    								<span *ngIf="auxBms.allowCharge; else elseBlock" class="ifs"><img class="circleItems" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
    									<ng-template #elseBlock><img class="circleItems" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
								<span class="item">Allow Charge</span>
							</span>
						</div>
						<div class="container-column">
							<span class="item">
	    						<span *ngIf="auxBms.alive; else elseBlock"><img class="circle" src="../../../assets/GreenCircle.png" alt="Red Circle" id="circle"></span>
	    						<ng-template #elseBlock><img class="circle" src="../../../assets/RedCircle.png" alt="Red Circle" id="circle"></ng-template>
    								<span class="item">Aux BMS Alive</span>
							</span>
							<span class="item">Aux Voltage
								<span class="data">{{auxBms.auxVoltage}}</span>
							</span>
						</div>
					</div>
				</div>
			</div>
</div>
</div>