.header {
	display: flex;
	justify-content: space-between;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	background-color: transparent;
	color: #D5FEFF;
	padding-bottom: 0.2em;
	padding-top: .2em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	width: auto;
}
.alive-group {
	margin-left: auto;
}

.alive-text {
	margin-left: 0.2em;
}

.circle{
	float: left;
	width: 1em;
	height: 1em;
}

.circle-items {
	float: left;
	width: 1em;
	height: 1em;
}

.container-row {
	display: flex;
	justify-content: space-around;
}

.container-column {
	display: flex;
	flex-direction: column;
	width: auto;
}

.side {
	float: left;
	width: 100%;
}

.side + .side{
	margin-left: 10px;
}

.full {
	width: 100%;
}

.ifs {
	width: 10px;
}

.dataset {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.75);
}
.subheader {
	font-family: Arial, sans-serif;
	font-size: 1rem;
	background-color: #303030;
	color: rgba(255, 255, 255, 0.75);
	padding-bottom: 0.2em;
	padding-top: .2em;
	text-align: center;
	margin-bottom: 15px;
	width: auto;
	border:1px solid #6B7F7F;
}
.item {
	font-family: Arial, sans-serif;
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.8rem;
	margin-left: 1.2em;
	margin-right: 1px;
	margin-bottom: 1em;
}
.text-align-left {
	text-align: left;
}
.data {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
	margin: 0 2px;
	background-color: transparent;
	border-bottom: 1px solid white;
}

.no-bullets {
	list-style-type:none;
	padding: 0;
}