.header {
	display: flex;
	justify-content: space-between;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	background-color: transparent;
	color: #D5FEFF;
	padding-bottom: 0.2em;
	padding-top: .2em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	width: auto;
}
.aliveGroup {
	margin-left: auto;
	width: auto;
}
.aliveGroup > .aliveText {
	margin-left: 0.2em;
}
.circle {
	float: left;
	width: 1em;
	height: 1em;
}
.circleAlive {
	float: left;
	width: 1em;
	height: 1em;
	margin-top: 2px;
}

.circleItems {
	float: left;
	width: 1em;
	height: 1em;
}

.ifs {
	width: 10px;
}

.full {
	width: 100%;
}

.dataset {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.75);
}
.subheader {
	font-family: Arial, sans-serif;
	font-size: 0.8rem;
	background-color: grey;
	color: rgba(255, 255, 255, 0.75);
	padding-bottom: 0.2em;
	padding-top: .2em;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 15px;
}
.container-row {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}
.container-column {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}
.item {
	font-family: Arial, sans-serif;
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.75em;
	margin-left: 15px;
	margin-right: 1px;
	margin-bottom: 10px;
}
.itemLeft {
	font-family: Arial, sans-serif;
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.75em;
	margin-left: 15px;
	margin-right: 15px;
	text-align: left;
	margin-bottom: 10px;
}

.data {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;

	background-color: #7a7676;
}

.leftside {
	float: left;
	width: 45%;
	margin-right: 5%;
}