.alive-group {
	margin-left: auto;
}
.alive-text {
	margin-left: 0.2em;
}
.circle-items {
	float: left;
	width: 1em;
	height: 1em;
}
.container-row {
	display: flex;
	justify-content: space-around;
}
.container-column {
	display: flex;
	flex-direction: column;
	width: auto;
}
.side {
	float: left;
	width: 100%;
}
.side + .side{
	margin-left: 10px;
}
.ifs {
	width: 10px;
}
.dataset {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 0.8rem;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.75);
}
.item {
	font-family: Arial, sans-serif;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.8rem;
	margin-left: 1.2em;
	margin-right: 1px;
	margin-bottom: 1em;
	white-space: nowrap;
}
.text-align-left {
	text-align: left;
}
.data {
	margin: 5px 20px 10px 20px;
	padding: 5px;
	background-color: transparent;
	border-bottom: 1px solid white;
}