<ng-template #elseBlock><img class="circle-items" src="../../../assets/RedCircle.png" alt="Red Circle"></ng-template>
<div class="container-row">
	<div class="half container-column">
		<span class="subheader">Unit 0</span>
		<div class="container-row">
			<div class="container-column half text">
				<div class="subheader">
					<div class="text">Channel 0</div>
					<span class="alive-text">Alive </span> 
					<span>
		    			<span *ngIf="mppt0.alive; else elseBlock">
		    				<img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle">
		    			</span>
					</span>
				</div>
				<div>
					<div class="data">Array Voltage</div>
					<div class="underline data">{{mppt0.arrayVoltage}} V</div>
				</div>
				<div>
					<div class="data">Array Current</div>
					<div class="underline data">{{mppt0.arrayCurrent}} A</div>
				</div>
				<div>
					<div class="data">Battery Voltage</div>
					<div class="underline data">{{mppt0.batteryVoltage}} V</div>
				</div>
				<div>
					<div class="data">Temperature</div>
					<div class="underline data">{{mppt0.temperature}} ºC</div>
				</div>
			</div>
			<div class="container-column half text">
				<div class="subheader">
					<div class="text">Channel 1</div>
					<span class="aText">Alive </span>
					<span>
		    			<span *ngIf="mppt1.alive; else elseBlock">
		    				<img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle">
		    			</span>
					</span>
					
				</div>
				<div>
					<div class="data">Array Voltage</div>
					<div class="underline data">{{mppt1.arrayVoltage}} V</div>
				</div>
				<div>
					<div class="data">Array Current</div>
					<div class="underline data">{{mppt1.arrayCurrent}} A</div>
				</div>
				<div>
					<div class="data">Battery Voltage</div>
					<div class="underline data">{{mppt1.batteryVoltage}} V</div>
				</div>
				<div>
					<div class="data">Temperature</div>
					<div class="underline data">{{mppt1.temperature}} ºC</div>
				</div>
			</div>
		</div>
	</div>
	<div class="half container-column">
		<span class="subheader">Unit 1</span>
		<div class="container-row">
			<div class="container-column half text">
				<div class="subheader">
					<div class="text">Channel 0</div>
					<span class="alive-text">Alive </span> 
					<span>
		    			<span *ngIf="mppt2.alive; else elseBlock">
		    				<img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle">
		    			</span>
					</span>
				</div>
				<div>
					<div class="data">Array Voltage</div>
					<div class="underline data"><span>{{mppt2.arrayVoltage}} V</span></div>
				</div>
				<div>
					<div class="data">Array Current</div>
					<div class="underline data"><span>{{mppt2.arrayCurrent}} A</span></div>
				</div>
				<div>
					<div class="data">Battery Voltage</div>
					<div class="underline data"><span>{{mppt2.batteryVoltage}} V</span></div>
				</div>
				<div>
					<div class="data">Temperature</div>
					<div class="underline data"><span>{{mppt2.temperature}} ºC</span></div>
				</div>
			</div>
			<div class="container-column half text">
				<div class="subheader">
					<div class="text">Channel 1</div>
					<span class="alive-text">Alive </span>
					<span>
		    			<span *ngIf="mppt3.alive; else elseBlock">
		    				<img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle">
		    			</span>
					</span>
				</div>
				<div>
					<div class="data">Array Voltage</div>
					<div class="underline data">{{mppt3.arrayVoltage}} V</div>
				</div>
				<div>
					<div class="data">Array Current</div>
					<div class="underline data">{{mppt3.arrayCurrent}} A</div>
				</div>
				<div>
					<div class="data">Battery Voltage</div>
					<div class="underline data">{{mppt3.batteryVoltage}} V</div>
				</div>
				<div>
					<div class="data">Temperature</div>
					<div class="underline data">{{mppt3.temperature}} ºC</div>
				</div>
			</div>
		</div>
	</div>
</div>